@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.markdown > * {
  all: revert;
}

input,textarea {
  background-color: transparent
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: 'Source Code Pro', sans-serif;
}

body {
  color: #fdf6e3;
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
